/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #AAA0A0;
  padding: 15px;
}
body {
margin:0;
}
.logo {
    float:left;


    width:160px;
    height:180px;
}
.image {
  float:center;
  width:160px;
  height:160px;
  margin-left: 800px
  margin-top:5px;
  padding-bottom: 100px;
  padding:15px;

}
.image1 {
  float:center;
  width:330px;
  height:300px;
  margin-left: 800px
  margin-top:5px;
  padding-bottom: 100px;
  padding:15px;
}

.topnav a[href*="#"] {
  float: left;
  display: block;
  color: #1E90FF;
  text-align: center;
  padding: 14px 5px;
  width:90px;
  font-size: 21px;
  margin-top:20px;
  margin-left:30px;
}
.maintext{
  text-indent: 4px; /* Indent the first line of text with different values: */
  letter-spacing: 1px;

}

h2 {
    background-color: #555;
    color: #FFF;
    letter-spacing: 1px;
    margin: 25px 1px;
    padding: 1px;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4682B4;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
a:hover {
  background-color: brown;
}
footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align:center;
}
.footer {
    background: blue;
    height: 100px;
    margin: auto;
    width: 400px;
    text-align:center;
    padding:10px;
    color:#ffffff;
}
